<script id="tmpl-scorebox" type="text/x-handlebars-template" data-tmpl="tmpl-scorebox">
    {{#each scores}}
    <article class="scoreboard">
        <section class="scorebox yellowcreme" id="scorebox">
            {{> part-scores awayTeam}}
            {{> part-scores homeTeam}}
            <ul class="hbox">
                {{#if gameClock}}
                    <li></li> <!-- Hack 25% formatting -->
                    <li>QT {{gameStatus}}</li>
                    <li>{{gameClock}}</li>
                    <li></li> <!-- Hack 25% formatting -->
                {{else}}
                    {{#if gameStatus}}
                    <li>{{gameStatus}}</li>
                    {{else}}
                        <li>{{gameStartDay}} {{gameStartTime}}pm EST</li>
                    {{/if}}
                {{/if}}
            </ul>
            {{#if line}}
            <ul class="hbox spreadLine" id="expandSpreadDetails">
                <li>{{favoriteShort}} {{line}}</li>
            </ul>
            {{/if}}
        </section>
        {{#if line}}
        <section class="spreadDetails drawerClose" id="spreadDetails">
            <ul class="hbox" id="teamChoice">
                <li>Picked Team</li>
                <li>{{pickedTeam}}</li>
            </ul>
            {{#if margin}}
            <ul class="hbox" id="margin">
                <li>Over/Under</li>
                <li>{{margin}}</li>
            </ul>
            {{/if}}
            {{#if totalScore}}
            <ul class="hbox" id="totalScore">
                <li>Total Score</li>
                <li>{{totalScore}}</li>
            </ul>
            {{/if}}
        </section>
        {{/if}}
    </article>
    {{/each}}
</script>
<script id="part-scores" type="text/x-handlebars-template" data-part="part-scores">
    <ul class="hbox">
        <li>{{name}}</li>
        <li>{{score}}</li>
    </ul>
</script>